.cards-proposal-container {
  body {
    overflow-y: auto;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  overflow-y: auto;
  height: 100%;

  .mb-3 {
    background-color: #e6edfd;
    font-weight: 300;

    .h5 {
      font-size: 1rem;
    }

    .icon {
      color: #ffff00;
      cursor: pointer;
    }
    .buttons {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
        border-radius: 20px;
        padding: 10px;
        font-size: 0.8rem;
      }

      .btn-delete {
        background-color: red;
        border: solid 1px #e6edfd;
      }
    }
  }

  .mb-3:nth-child(n + 1) {
    margin-left: 10px;
  }
}

@media (max-width: 1000px) {
  .cards-proposal-container {
    width: 100%;
    margin-left: 0;
  }
}
