#form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin-bottom: 50px;
  }
  div p {
    text-align: center;
  }

  div input {
    margin-top: 20px;
    padding: 15px 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px rgba(50, 112, 226, 0.5) solid;
  }

  input:focus,
  select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .button-form {
    margin-top: 20px;
    display: flex;

    button {
      cursor: pointer;
      border: 0 none;
      padding: 20px 40px !important;
      border-radius: 10px;
      color: #fff;
      font-size: 0.8rem;
    }

    .button-login {
      margin-top: 16px;

      a {
        margin-left: 10px;
        border: 2px solid #3980ff;
        border-radius: 10px;
        padding: 18px 50px !important;
        background-color: #fff;
        color: #3980ff;
        font-size: 0.8rem;
      }
    }
  }
}
