nav {
  position: relative;
  z-index: 9;
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 10px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      display: flex;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo img {
          width: 60px;
          cursor: pointer;
        }

        .logo-text {
          color: black;
          margin-left: 20px;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
    }

    .items-right {
      margin-right: 40px;

      div {
        margin-left: 50px;
      }

      div:nth-child(1) a {
        color: #000;
        padding: 10px 20px;
      }

      div:nth-child(2) a {
        cursor: pointer;
        color: #fe7062;
        border: 2px solid #fe7062;
        border-radius: 30px;
        padding: 10px 20px;
      }
    }

    .items-left {
      margin-top: 20px;
      margin-left: 30px;
    }

    @media (max-width: 800px) {
      .items-right {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        transform: scale(0.7);
      }
      .items-left {
        transform: scale(0.7);
        margin-left: 0px;
      }
    }
  }
}
