@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

* {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
